:root {
  --primary:#00B1EB;
  --primary-hover:#01A4DA;
  --black:#000000;
  --light-grey:#F8F8F8;
  --light-hrey-hover:#E9E9E9;
  --white:#FFFFFF;
  --heading-color:#232323;
  --paragraph-color:#6F6F6F;
  --grey-border-color:#EEEEEE;
  --getin-touch-color:#F5F5F5;
  --technology-heading-color:#898989;
  --bg-transparent:rgba(0,0,0,0);
  --dark:#252B3E;
  --light-blue-color:#F3F8FF;
  --red-color:#BA2331;
  --light-red:#FE4B5C;
  --orange:#FF6815;
  --list-color:#323338;
  --light-blue:#6372FF;
  --light-green:#2CBCCE;
  --light-sky-blue:#009BFF;
  --light-border-color:#F0F0F0;
  --body-bg:#F3F8FF;
  --card-heading-color:#263238;
  --card-h6-color:#5F5F5F;
  --yellow:#ECC81A;
  --grey-star-color:#E2E2E2;
  --paragraph-color:#7C7C7C;
  --dark-blue:#173664;
  --card-light-red:#FFEDEF;
  --card-dark-red:#760914;
  --card-light-green:#E0FFE3;
  --card-dark-green:#1B5E20;
  --light-orange:#FFF0E7;
  --dark-orange:#943400;
  --link-color:#4D4D4D;
  --cardheader-light-bg:#F9F9F9;
  --dark-text-color:#474747;
  --status-green:#2E8034;
  --edit-btn-bg:#E4FFF3;
  --dark-green:#2BA96F;
  --light-btn-blue:#D7E7FF;
  --dark-btn-blue:#3F6AA8;
  --delete-bg:#FFEDEF;
  --rate-card-bg:#fafafa;
  --rate-card-Heading:#404040;
  --nav-item-color:#263238;
  --banner-bg:#E2E2E2;
  --our-services-bg:#F9FBFF;
  --services-icon-bg:#EDF3FF;
  --services-paragraph:#7A7A7A;
  --technology-heading-color:#2D2D2D;
  --generation-bg:#252549;
  --orgnization-bg:#FCFCFC;
  --orgnization-paragraph:#8F8F8F;
  --back-btn-bg:#E7E7E7;
  --back-btn-textColor:#626262;
  --post-paragraph:#858585;
  --red-btn-color:#DC3545;
  --purple-color:#6372FF;
  --light-pink:#FCF1F4;
  --dark-pink:#880E4F;
  --dark-blue-icon:#0D47A1;
  --dark-orange-icon:#E65100;
  --post-green-color:#33691E;
  --myteam-color:#00838F;
  --recuiter-color:#6A1B9A;
  --success-icon-light:#E8F5E9;
  --success-icon-dark:#43A047;
  --info-btn-bg:#E1F5FE;
  --info-btn-border:#B3E5FC;
  --success-btn-bg:#E8F5E9;
  --success-btn-border:#C8E6C9;
  --danger-btn-bg:#FFEBEE;
  --danger-btn-border:#FFCDD2;
  --danger-btn-color:#E53935;
  --notification-paragraph:#717171;
  --points-bg:#FCE4EC;
  --points-content-color:#C2185B;
  --cost-heading-color:#616161;
  --card-req-paragraph:#424242;
  --close-modal-color:#D32F2F;
  --facebook-color:#38529A;
  --linkedin-color:#0077B7;
  --pinterest-color:#B7081B;
  --list-icon-color:#0277BD;
  --functional-area-bg:#FFF4F3;
  --functiona-area-color:#BF360C;
  --pink-light-bg:#FEF3FF;
  --pink-light-color:#880E4F;
  --location-bg:#EFEBE9;
  --location-color:#4E342E;
  --requirement-bg:#E0F2F1;
  --requirement-color:#00695C;
  --rate-bg:#e8eaf6;
  --rate-text-color:#283593;
  --primary-ultra-light:#E3F2FD;
  --primary-700:#1976D2;
  --summary-text-color:#303F9F;
}



.notification {
  position: relative;
}
.notification .count {
  position: absolute;
  right: -16px;
  background: #EF5350;
  border-radius: 10px;
  min-width: 20px;
  min-height: 14px;
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  color: #FFFFFF;
  cursor: pointer;
  text-align: center;
}
.text-align-left {
  text-align: left;
}
.banner-img img {
max-width: 400px;
height: auto;
}
.banner-content .btn-primary a {
color: #FFFFFF;
text-decoration: none;
}
.our-services {
  padding: 44px 0 44px;
  background: var(--our-services-bg);
  margin-bottom: 50px;
}
@media only screen and (max-width: 991px) {
  .our-services {
    padding: 30px 0 30px;
  }
}
@media only screen and (max-width: 1024px) {
  .our-services {
    padding: 30px 0 20px;
  }
}
.our-services h5 {
  font-family: "Jost", sans-serif;
  font-weight: 300;
  font-size: 28px;
  font-size: 1.75rem;
  color: var(--primary);
  margin: 0;
}
@media only screen and (max-width: 991px) {
  .our-services h5 {
    font-size: 25px;
    font-size: 1.5625rem;
  }
}
@media only screen and (max-width: 576px) {
  .our-services h5 {
    font-size: 22px;
    font-size: 1.375rem;
  }
}
.our-services h3 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 37px;
  font-size: 2.3125rem;
  color: var(--black);
  margin: 0 0 40px;
  text-transform: uppercase;
}
@media only screen and (max-width: 991px) {
  .our-services h3 {
    font-size: 30px;
    font-size: 1.875rem;
    margin: 0 0 30px;
  }
}
@media only screen and (max-width: 576px) {
  .our-services h3 {
    font-size: 25px;
    font-size: 1.5625rem;
    margin: 0 0 20px;
  }
}
.our-services .services-widget {
  background: var(--white);
  border-radius: 13px;
  -moz-border-radius: 13px;
  -webkit-border-radius: 13px;
  -ms-border-radius: 13px;
  box-shadow: 0px 1px 27px rgba(0, 0, 0, 0.06);
  padding: 20px;
  height: 100%;
  transition: all 0.5s ease-in-out 0s;
}
@media only screen and (max-width: 991px) {
  .our-services .services-widget {
    text-align: center;
    height: auto;
  }
}
@media only screen and (max-width: 767px) {
  .our-services .services-widget {
    height: auto;
  }
}
.our-services .services-widget:hover {
  transform: scale(1.1);
}
.our-services .services-widget .services-icon-container {
  background: var(--services-icon-bg);
  width: 117px;
  height: 117px;
  border-radius: 117px;
}
@media only screen and (max-width: 1200px) {
  .our-services .services-widget .services-icon-container {
    width: 100px;
    height: 100px;
    border-radius: 100px;
  }
}
@media only screen and (max-width: 991px) {
  .our-services .services-widget .services-icon-container {
    margin: 0 auto 20px !important;
  }
}
.our-services .services-widget .services-icon {
  background: var(--services-icon-bg);
  width: 97px;
  height: 97px;
  border-radius: 97px;
  border: 3px solid var(--white);
}
.our-services .services-widget .services-icon img {
  width: 50px;
  height: 50px;
}
.our-services .services-widget h6 {
  font-weight: 700;
  font-size: 18px;
  font-size: 1.125rem;
  color: var(--black);
  margin: 0 0 5px;
}
.our-services .services-widget p {
  font-size: 13px;
  font-size: 0.8125rem;
  color: var(--services-paragraph);
  line-height: 18px;
  margin: 0 0 5px;
}

/*Footer start here*/
.footer {
  background:  var(--dark);
  background-size: cover;
  padding: 50px 0 0;
}
.footer h4 {
  font-size: 18.5px;
  font-size: 1.15625rem;
  color: var(--white);
  font-weight: 500;
  font-family: "Inter", sans-serif;
  margin: 0 0 1rem 0;
  padding: 0 0 8px 0;
  position: relative;
}
.footer h4:before {
  content: "";
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 20px;
  height: 2px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  background: var(--white);
}
.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer ul li, .footer ul a {
  color: var(--white);
  font-size: 14px;
  font-size: 0.875rem;
  text-decoration: none;
  font-weight: 400;
}
.footer ul li {
  margin: 0 0 5px;
}
.footer ul a:hover {
  text-decoration: underline;
}
.footer .footer-widget p {
  font-size: 13px;
  font-size: 0.8125rem;
  color: var(--white);
  flex: 1;
  margin: 0 0 10px;
}
.footer .footer-widget .fa-solid {
  color: var(--white);
  font-size: 13px;
  font-size: 0.8125rem;
}
.footer .footer-widget .fa-location-dot {
  margin-top: 3px;
}
.footer .footer-widget .footer-icon {
  width: 16px;
}
.footer .footer-widget .social-icon .fa-brands {
  color: var(--white);
  font-size: 20px;
  font-size: 1.25rem;
}
.footer .footer-widget .social-icon .fa-brands:hover {
  opacity: 0.75;
}
@media only screen and (max-width: 991px) {
  .footer .footer-widget {
    margin: 0 0 25px;
  }
}
.footer .copyright {
  margin: 30px 0 0;
  padding: 25px 0;
  border-top: 1px solid #30374E;
}
@media only screen and (max-width: 991px) {
  .footer .copyright {
    margin: 20px 0 0;
  }
}
.footer .copyright p {
  font-size: 13px;
  font-size: 0.8125rem;
  color: var(--white);
  margin: 0;
}
.footer .copyright p a {
  color: var(--white);
  text-decoration: underline;
}
.contact-container {
  max-width: 500px;
  margin: auto;
}
.contact-heading {
  padding: 40px 0;
  text-align: center;
  background: #f5f5f5;
  margin-bottom: 30px;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

.custom-loader-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-loader {
  border: 5px solid #dedede;
  border-radius: 50%;
  border-top: 5px solid #00B1EB;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 1.5s linear infinite; /* Safari */
  animation: spin 1.5s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.feature-product {
  position: relative;
}
.feature-products h1 {
  margin-bottom: 30px;
}
.feature-product img {
  margin-bottom: 10px;
  min-height: 171px;
}
.feature-product h4 {
  font-size: 18px;
  text-transform: capitalize;
  color: #000000;
}
.feature-product h5 {
  font-size: 16px;
  text-transform: capitalize;
  margin-left: auto;
  color: #000000;
}
.w-full {
  width: 100%;
}
.feature-product h6 {
  font-size: 14px;
  text-transform: capitalize;
  margin-left: auto;
  position: absolute;
  right: 9px;
  top: 9px;
  padding: 5px 10px;
  border-radius: 20px;
  background: #fff;
}
.product-link {
  text-decoration: none;
  color: #000000;
}
.page-navigation {
  padding: 20px;
  border-top: 1px solid #eeeeee;
  background: #f5f5f5;
}
.single-product-thumbnail {
  cursor: pointer;
}
.rating-star svg {
fill: #ff9800;
}
.product-review {
  font-size: 14px;
  color: #757575;
  font-weight: normal;
}
.ecommerce-logo {
  text-decoration: none;
  color: #424242;
  font-weight: 600;
  font-size: 19px;
}
.color-box {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  color: #fff;
  margin-right: 5px;
  border: none;
}
.color-box svg {
  width: 14px;
  height: 14px;
}
.cart-quantity {
  padding: 10px;
  max-height: 37px;
  line-height: 1;
}
.search-box.search-filter {
  background: var(--getin-touch-color);
  width: 100%;
}
.search-box {
  background: var(--light-blue-color);
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -ms-border-radius: 20px;
  padding: 0 15px;
  height: 42px;
}
.search-box .search-icon {
  text-decoration: none;
  color: var(--primary);
  margin: 0 8px 0 0;
  display: flex;
  align-items: center;
}
.search-box .ri-search-line {
  font-size: 16px;
  font-size: 1rem;
}
.search-box .form-input {
  border: none;
  width: 100%;
  background: var(--bg-transparent);
  height: 42px;
  font-size: 13px;
  font-size: 0.8125rem;
}
.search-box .form-input:focus {
  outline: none;
}
.filter-widget ul {
padding:0;
margin: 0;
list-style: none;
}
.filter-widget ul li a {
  text-decoration: none;
  color: var(--card-req-paragraph);
}
.product-btn {
  line-height: 1;
  min-height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  min-width: 40px;
}
.product-btn svg {
width: 22px;
height: 22px;
}
.grid-view.row {
  flex-direction: column;
}
.grid-view.row .mb-3.col-lg-4.col-md-4.col-sm-4.col-12 {
  flex: 0 0 100%;
  width: 100%;
}
.grid-view .feature-product img {
  max-width: 400px;
  max-height: 174px;
  object-fit: cover;
  min-width: 261px;
}
.grid-view .feature-product {
  display: flex;
}
.grid-view .w-full {
  width: 100%;
  align-items: flex-start !important;
  text-align: left;
  display: block !important;
  padding: 20px;
}

@media only screen and (max-width: 991px) {
.grid-view .feature-product {
  flex-wrap: wrap;
}
.feature-product h6 {
  margin-left: inherit;
  position: relative;
  right: auto;
  padding: 5px 10px;
  left: 0;
}
.grid-view .w-full {
  padding: 0;
}
.grid-view .feature-product img {
  max-width: 100%;
  max-height: initial;
  object-fit: cover;
  min-width: 100%;
  width: 100%;
}
}
.color-box-filter {
color: #000;
font-size: 14px;
width: 15px;
height: 15px;
border: none;
border-radius: 100%;
margin-right: 5px;
justify-content: center;
    align-items: center;
}
.color-box-filter span {
  display: flex;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
cursor: pointer;
}
.all-colors {
  border: none;
  background: none;
  outline: none;
  font-size: 14px;
}