.product-content {
  width: 50%;
}
.product-imgbox {
  width: 50%;
  text-align: center;
}
.product-imgbox .img-fluid {
  height: 440px;
}
[data-bs-theme="dark"] .carousel .carousel-control-next-icon,
[data-bs-theme="dark"] .carousel .carousel-control-prev-icon,
[data-bs-theme="dark"].carousel .carousel-control-next-icon,
[data-bs-theme="dark"].carousel .carousel-control-prev-icon {
  filter: none;
}
[data-bs-theme="dark"] .carousel .carousel-indicators [data-bs-target],
[data-bs-theme="dark"].carousel .carousel-indicators [data-bs-target] {
  background-color: #fff;
}
.product-small-image {
  max-width: 150px;
}
.product-small-content {
}
.product-card {
  height: 100%;
}
.product-card .card-img-top {
  max-width: 200px;
  margin: 30px auto;
}
.star-ratings {
margin-right: 0.5rem;
}